
<div class="list-group users-list home-page-container">
        <div class="list-group-item-action flex-column align-items-start">
            <div style="padding-bottom: 25px">
                <h2>Your business cards:</h2>
            </div>
            <div class="row">
                <div *ngFor="let card of value.businessCards; let i = index" class="card-container list-group-item-action flex-column align-items-start">
                    <div class="business-card-container">
                    <div class="card-name">
                        {{card.firstName}} {{card.lastName}}
                    </div>
                    <div class="card-company">
                        {{card.company}}
                    </div>
                    <div class="card-contact-info">
                        <div class="card-email"><span class="card-contact-label">Email:</span> {{card.email}}</div> 
                        <div class="card-phone"><span  class="card-contact-label">Phone:</span> {{card.phone}}</div>
                    </div>
                    <div>
                        <p class="card-contact-label">Additional Comments:</p>
                        <p>{{card.additionalInfo}}</p>
                    </div>
                    <div class="card-buttons">
                        <form #f="ngForm" (ngSubmit)="showForm(i)" class="card-button">
                            <button class="btn" type="submit">Edit</button> 
                        </form>
                        <form #f="ngForm" (ngSubmit)="deleteCard(card.email)" class="card-button" >
                            <button class="btn btn-danger" type="submit">Delete</button> 
                        </form>
                    </div>
                    <div>

                    </div>
                    <div class="hide" [ngClass]="{show: editHidden}">
                            <!-- <form formGroup]="cardForm" (ngSubmit)="addNewCard(cardForm.value)">-->
                                <form #f="ngForm" (ngSubmit)="editCard(f.value, card.email)">
                                    <div>
                                        <label for="fNameInput">First Name: </label> 
                                        <input type="text" id ="fNameInput" name="firstName" placeholder="Enter First Name" value="{{card.firstName}}" ngModel>
                                    </div>
                                    <div>
                                        <label for="lNameInput">Last Name: </label>
                                        <input type="text" id ="lNameInput" placeholder="Enter Last Name" name="lastName" value="{{card.lastName}}" ngModel>
                                    </div>
                                    <div>
                                        <label for="companyInput">Company Name: </label>
                                        <input type="text" id ="companyInput" placeholder="Enter Company Name" name="company" value="{{card.company}}"ngModel >
                                    </div>
                                    <div>
                                        <label for="emailInput">Email Address: </label>
                                        <input type="text" id ="emailInput" placeholder="Enter Last Name" name="email" value="{{card.email}}" ngModel>
                                    </div>
                                    <div>
                                        <label for="phoneInput">Phone Number: </label>
                                        <input type="text" id ="phoneInput" placeholder="Enter First Name" name="phone" value="{{card.phone}}" ngModel>
                                    </div>
                                    <div>
                                        <label for="commentsInput">Additional Comments: </label>
                                        <input type="text-area" id ="commentsInput" placeholder="Enter Last Name" name="comments" value="{{card.comments}}" ngModel>
                                    </div>
                                    <button type="submit">Submit</button>
                                </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
